




@using Web.Models.ViewModels

@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Account/_AccountLayout.cshtml";
}

@model UserForgotPasswordViewModel

<div class="card">
    <div class="card-header">
        <h3>Forgot Password</h3>
    </div>
    <div class="card-body">


        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()


            
            <div>
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
            <div class="input-group form-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-user"></i></span>
                </div>
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", placeholder = "E-mail" } })

            </div>

            <div class="form-group">
                <input type="submit" value="Send" class="btn float-right login_btn">
            </div>


        }

    </div>
    <div class="card-footer">
        <div class="d-flex justify-content-center links">
            <a href="@Url.Action("Login")">Sign In</a>
        </div> 
    </div>
</div>

