
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
    <link href="~/Content/custom.css" rel="stylesheet" />

</head>
<body>
    <div> 
    </div>
</body>
</html>
