<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="true" >

  <variable name="logDirectory"  value="${basedir}/logs/${shortdate}" />
  <targets async="true">

    <target name="FileManager_0"
            xsi:type="File"
            layout="${longdate} ${threadid:padding=4} ${level:uppercase=true:padding=5} ${logger} ${message} ${exception:format=tostring}"
            fileName="${logDirectory}/Info.txt"
            archiveFileName="${logDirectory}/Info_Archive.{#}.txt"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="7"
            concurrentWrites="true"
            createDirs="true"
            autoFlush="true"
            archiveAboveSize="5000000"
            />
    <target name="FileManager_1"
             xsi:type="File"
             layout="${longdate} ${threadid:padding=4} ${level:uppercase=true:padding=5} ${logger} ${message} ${exception:format=tostring}"
             fileName="${logDirectory}/Error.txt"
             archiveFileName="${logDirectory}/Error_Archive.{#}.txt"
             archiveEvery="Day"
             archiveNumbering="Rolling"
             maxArchiveFiles="7"
             concurrentWrites="true"
             createDirs="true"
             autoFlush="true"
            archiveAboveSize="5000000"
            />

    <target name="FileManager_2"
            xsi:type="File"
            layout="${longdate} ${threadid:padding=4} ${level:uppercase=true:padding=5} ${logger} ${message} ${exception:format=tostring}"
            fileName="${logDirectory}/Trace.txt"
            archiveFileName="${logDirectory}/Trace_Archive.{#}.txt"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="7"
            concurrentWrites="true"
            createDirs="true"
            autoFlush="true"
            archiveAboveSize="5000000"
            />

  </targets>
  <rules>
    <logger name="*" minlevel="Info" maxlevel="Info" writeTo="FileManager_0" />
    <logger name="*" minlevel="Error" maxlevel="Error" writeTo="FileManager_1" />
    <logger name="*" minlevel="Trace" maxlevel="Trace" writeTo="FileManager_2" />
  </rules>
</nlog>